
body{
 background-position: center;
 background-image: url(breathaliser project/CCimages/breathalyzer.jpg);
 background-color: #edd1d4; 
 background-size: 100% 100%;
 background-repeat:no-repeat;
}

header{
  text-align: center;
}

h1, h2, h3 {
  font-family: 'Candal', sans-serif;
  color:#7db59c; 
  text-align: center;
  text-shadow:

    -1px -1px 0 #000,  
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
    /*https://css-tricks.com/adding-stroke-to-web-text/*/
}

h1{
    font-size:50px;
}

h2{
    font-size:40px;
}

h4{
  
  font-size:20px;
}

p{ 
  padding: 7.5px;
  font-size:20px;
}

img{
  padding:1px;
}

/*-----------overide classes------------*/

p.thicker {
    font-weight: 900;
}

.side {
  padding-left: 2%;
  font-size: 75%;
}

.row_colour{
 background-image: url(../images/div.jpg); 
 text-align: center;
 background-size: 100% 100%;
 background-repeat:no-repeat;
}

.button{
  background-color: #edab94;
  border: 2px solid black;
}

.button:hover {
    background-color:orange;
    color: white;
}
.empty{
  height: 400px;
}
.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box; }
